.custom-btn{
    padding: 10px 20px;
    border: none;
    font-family: $font-bold;
    background-color: transparent;
    cursor: pointer;

    &.small{
        padding: 5px 20px;
    }
    &.large{
        padding: 15px 20px;
    }
    &.outlined {
        border: 2px solid;
    }
}

#light{
    .custom-btn{
        @include theme-colors(false);
    }
}

#dark{
    .custom-btn{
        @include theme-colors();
    }
}