.custom-btn{
    padding: 10px 20px;
    border: none;
    background-color: $primary-color;
    &.small{
        padding: 5px 20px;
    }
    &.large{
        padding: 15px 20px;
    }
    &.outlined {
        border: 2px solid;
    }
}