button{
    padding: 10px;
    border: none;
    border-radius: 15px;
    font-family: $font-bold;
    background-color: transparent;
    cursor: pointer;

    &.small{
        padding: 5px;
    }
    &.large{
        padding: 15px;
    }
    &.outlined {
        border: 2px solid;
    }
}

#light{
    button{
        @include theme-colors(false);
    }
}

#dark{
    button{
        @include theme-colors();
    }
}