header{ 
    .right-section{
        li{
            display: flex;
            align-items: center;
            padding-right: 1.5rem;
        }
        img {
            width: 22px;
            height: 22px;
        }
        .profile-img{
            width: 37px;
            height: 37px;
        }
        .notification-dot{
            background-color: $primary-color;
        }
    }
}