nav {
    width: 55px;
    .logo{
        width: 55px;
        height: 45px;
    }
    ul {
        margin-bottom: 40px;
    }
    ul img{
        width: 35px;
        height: 35px;
        margin-bottom: 5px;
    }
    li{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
        div{
            margin-bottom: 20px;
        }
    }
}

#light nav{
    @include theme-colors(false);
    ul img{
        filter: $svg-black-filter;
    }
}

#dark nav{
    @include theme-colors();
    ul img{
        filter: $svg-white-filter;
    }
}