@import '../base/variables';

button{
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-family: $font-bold;
    background-color: transparent;
    cursor: pointer;

    &.small{
        padding: 5px;
    }
    &.large{
        padding: 15px;
    }
    &.outlined {
        border: 2px solid;
    }
}