@font-face {
    font-family: 'Nunito-Light';
    src: url('../../assets/fonts/Nunito/Nunito-Light.ttf');
}
@font-face {
    font-family: 'Nunito-Light-Italic';
    src: url('../../assets/fonts/Nunito/Nunito-LightItalic.ttf');
}
@font-face {
    font-family: 'Nunito-Regular';
    src: url('../../assets/fonts/Nunito/Nunito-Regular.ttf');
}
@font-face {
    font-family: 'Nunito-Regular-Italic';
    src: url('../../assets/fonts/Nunito/Nunito-Italic.ttf');
}
@font-face {
    font-family: 'Nunito-SemiBold';
    src: url('../../assets/fonts/Nunito/Nunito-SemiBold.ttf');
}
@font-face {
    font-family: 'Nunito-SemiBold-Italic';
    src: url('../../assets/fonts/Nunito/Nunito-SemiBoldItalic.ttf');
}
@font-face {
    font-family: 'Nunito-Bold';
    src: url('../../assets/fonts/Nunito/Nunito-Bold.ttf');
}
@font-face {
    font-family: 'Nunito-Bold-Italic';
    src: url('../../assets/fonts/Nunito/Nunito-BoldItalic.ttf');
}