body{
    padding: 0;
    margin: 0;
}

#light{
    @include theme-colors();
}

#dark{
    @include theme-colors(false);
}

.gray-text{
    color: $gray-text;
}
.dark-gray-text{
    color: $dark-gray-text;
}