$font-light: "Nunito-Light";
$font-light-italic: "Nunito-Light-Italic";
$font-regular: "Nunito-Regular";
$font-regular-italic: "Nunito-Regular-Italic";
$font-semibold: "Nunito-SemiBold";
$font-regular-italic: "Nunito-SemiBold-Italic";
$font-bold: "Nunito-Bold";
$font-bold-italic: "Nunito-Bold-Italic";

$title-size: 36px;
$subtitle-size: 32px;
$subhead-size: 25px;
$medium-size: 22px;
$normal-size: 15px;
$small-size: 9px;

$light-background: #ffffff;
$light-text: #070b13;

$dark-background: #070b13;
$dark-text: #ffffff;

$black: #000000;