$font-light: "Nunito-Light";
$font-light-italic: "Nunito-Light-Italic";
$font-regular: "Nunito-Regular";
$font-regular-italic: "Nunito-Regular-Italic";
$font-semibold: "Nunito-SemiBold";
$font-regular-italic: "Nunito-SemiBold-Italic";
$font-bold: "Nunito-Bold";
$font-bold-italic: "Nunito-Bold-Italic";

$title-size: 36px;
$subtitle-size: 32px;
$subhead-size: 25px;
$medium-size: 22px;
$normal-size: 15px;
$small-size: 9px;

$light-background: #ffffff;
$light-text: #070b13;

$dark-background: #070b13;
$dark-text: #ffffff;

$black: #000000;
$light-gray-background: #D3D3D3;

$svg-black-filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(35deg) brightness(110%) contrast(113%); 
$svg-white-filter: invert(2%) sepia(31%) saturate(2979%) hue-rotate(199deg) brightness(100%) contrast(97%);